#secondMenu .MenuMainUl.mainUl .mainParts a.MenuListLiA, #MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    color: black;
    padding: 0px;
    font-size: 14px;
    text-decoration: none;
}
#MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    font-size: 13px;
    font-weight: Bold;
}
